

/* new */
body{
    background-color: #09080d !important;
}
p, label , .h4 , span ,input{
    color: #fff;
}
input, textarea {
    background-color: #000 !important;
    border: 1px solid #000 !important;
    color: #fff !important;
}
.ant-btn.ant-btn-block {
    width: auto !important;
    float: right;
}
a{
    font-family: 'Poppins' !Important;
}
.hero-section h1 {
    color: var(--white-color);
    font-family: 'Jost';
    margin-bottom: 1.5rem;
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    line-height: 1.2;
    font-family: var(--primary-font);
    /* color: var(--primary-color); */
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
label#demo-simple-select-outlined-label {
    color: #8e8e8e !important;
}
button.ant-btn.ant-btn-dashed.ant-btn-block {
    background: transparent;
    border: 1px solid #cccccc0d;
}
button.ant-btn.ant-btn-dashed.ant-btn-block svg ,button.ant-btn.ant-btn-dashed.ant-btn-block span{
    color: #fff !important;
}
form label {
    margin-bottom: 6px;
}
input , textarea{
    background-color: #000 !important;
    border: 1px solid #000 !important;
}
.ant-upload.ant-upload-select-picture-card {
    background-color: #000000 !important;
}
.ant-upload.ant-upload-select-picture-card span{
    color: #fff !important;
}
.MuiSelect-icon {
    color: rgb(255 255 255 / 54%) !important;
}
.hidden-word {
    visibility: hidden !important;
   
}
.anticon svg {
    display: inline-block;
    color: #fff !important;
}
.choose_div div {
    align-items: center;
    display: flex;
    justify-content: center;
}
.card-body button {
    background: #000 !important;
    color: #fff !important;
    margin: 0 !important;
    border: 1px solid #cccccc14 !important;
    /* padding-top: 0; */
}
.card-body div {
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
}
::placeholder{
    font-weight: 400!important;
    font-size: 14px !important;
    color: #515151 !important;
}
.creator-dropdown {
    min-width: 10rem !important;
    left: -20px;
    text-align: center;
}

.creator-button {
    display: flex;
    grid-gap: 8px;
    align-items: center;
    gap: 8px;
}
.modal-content {
    max-width: 500px;
    width: 100%;
    margin: 0 auto !important;
}
.approval {
    font-size: 10px;
    background: #9b8bc1;
    color: white;
    padding: 8px;
    width: 120px;
    margin: 24px 0px 0px 0px;
    border-radius: 12px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(50%)
        /* sepia(100%)
            saturate(10000%)
            hue-rotate(180deg) */
}

input[type="date"]::before {
    color: var(--primary-p-color);
    content: attr(placeholder) " : ";
}

input[type="date"]:focus::before {
    content: "" !important;
}

.live-auctions-area .swiper-slide.item {
    max-width: 270px;
}
/****bannercss******/
/*  */
/****bannercss******/

/****footer***/
.termsandconditions {
    padding: 0px 0px 50px 30px;
}
.item-details-area .shape {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    line-height: 0;
    direction: ltr;
    overflow: hidden;
    z-index: 0;
}

.item-details-area .row {
    /* background: #101010; */
    padding: 20px 10px;
}
@media (max-width:768px){
.item-details-area h3 {
    padding: 20px 0px 0px 10px;
}
.termsandconditions {
    padding: 0px 0px 50px 10px;
}
}
.auctions-slides .items .item {
    margin-right: 30px;
 }
 section {
    width: 100%;
    padding: 80px 0 0 !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
 }
 section.hero-section {
    padding: 130px 0 !important;
 }
 .footer-area .footer-top {
    padding: 60px 0 !important;
    margin-top: 100px;
}

 .creator-dropdown {
    min-width: 10rem !important;
    left: -20px;
    text-align: center;
}
.hero-section p{
    font-size: 1.2rem !important;
    color: #8E8E8E !important;
}
.creator-button {
    display: flex;
    gap: 8px;
}
.approval {
    font-size: 10px;
    background: #9B8BC1;
    color: white;
    padding: 8px;
    width: 120px;
    margin: 24px 0px 0px 0px;
    border-radius: 12px;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(50%)
        /* sepia(100%)
            saturate(10000%)
            hue-rotate(180deg) */
}
input[type="date"]::before {
    color: var(--primary-p-color);
    content: attr(placeholder) " : ";
}
input[type="date"]:focus::before {
    content: "" !important;
}
.live-auctions-area .swiper-slide.item {
    max-width: 270px;
}
/****bannercss******/
/*  */
/****bannercss******/
/****footer***/
.termsandconditions {
    padding: 0px 0px 50px 30px;
}
.item-details-area .shape {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    line-height: 0;
    direction: ltr;
    overflow: hidden;
    z-index: 0;
}
/* .item-details-area h3 {
    padding: 20px 0px 0px 0px;
} */

@media (max-width:768px){
.item-details-area h3 {
    padding: 20px 0px 0px 10px;
}
.termsandconditions {
    padding: 0px 0px 50px 10px;
}
body h1{
    font-size: 35px !important;
}
.button-group a {
    margin-top: 10px;
    margin-right: 5px;
}
:root section.hero-section {
    padding: 80px 0 !important;
}
.intro {
    display: block !important;
}
.intro-content h3 {
    font-size: 30px;
}
svg.svg-inline--fa.fa-user.fa-w-14 {
    font-size: 16px;
}
a.creator-button div {
    display: none;
}
body header .navbar-expand .navbar-nav.action .btn {
    padding: 9px 10px;
    font-size: 0;
}
}
.auctions-slides .items .item {
    margin-right: 30px;
 }
 section {
    width: 100%;
    padding: 80px 0 0 !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
 }
 section.hero-section {
    padding: 130px 0 !important;
 }
 .footer-area .footer-top {
    padding: 100px 0;
    margin-top: 100px;
 }
@media (max-width: 1200px){
    .hero-section h1{
        font-size: 50px;
    }
}
.item-details-area {
    padding: 130px 0px 0px !important;
}

footer a.navbar-brand img {
    width: 70px;
}

.MuiSelect-select.MuiSelect-select {
    padding-right: 24px;
    color: var(--primary-p-color);
}

.ant-form-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    margin-bottom: 24px;
    vertical-align: top;
}
.ant-form-item-control:first-child:not([class^='ant-col-']):not([class*=' ant-col-']) {
    width: 100%;
}

.item-details-area .item-info img {
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    width: 100% !important;
    height: 100%;
    /* height: auto; */
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector  {
    position: relative;
    background-color: rgb(0, 0, 0, 0.85) !important;
    border: rgb(0, 0, 0, 0.85) !important;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: black !important;
}
.ant-select-single .ant-select-selector .ant-select-selection-item {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff !important;
}
.fa-regular, .far {
    font-weight: 400;
    margin-left: 9px;
    color: #452868;
}
.fa-solid, .fas {
    font-weight: 900;
    margin-left: 186px;
    
    color: #4528DC;
}
ul.creator-dropdown.dropdown-menu li {
    font-size: 15px !important;
    font-weight: 600 !important;
}
.dropdown-item {
    padding: 0;
}
.dropdown-item a{
color:#fff !important;
}
:root header .navbar-expand .dropdown:hover > .dropdown-menu:after {
    content: "";
    height: 15px;
    width: 15px;
    background-color: #252329 !important;
    position: absolute;
    top: -8px;
    left: 76px;
    transform: rotate(45deg);
}
header .navbar-expand .dropdown:hover > .dropdown-menu {
    box-shadow: 0px 0px 7px #302f2f87 !important;
    padding: 10px;
    margin-top: 0px !important;
    visibility: unset;
    opacity: 1;
    color: #fff;
    text-align: left;
    background-color: #252329 !important;
}
.dropdown{
    padding: 13px 5px !important;
}

@media (max-width: 1245px){
    ul.creator-dropdown.dropdown-menu {
        left: -74px !important;
    }
    :root header .navbar-expand .dropdown:hover > .dropdown-menu:after {
        content: "";
        left: 106px;
    }
}

nav .header .navbar-nav.items li a:hover , .dropdown ul li a:hover , .card-body a h5:hover , .explore-menu label span:hover{
    color: #4528DC !important;
}
.explore-menu label span{
transition: 0.3s ease-in-out;
}
.step2icon i , .step1icon i , .stepperline i , .single-work h4 {
    color: #fff !important;
    
}
.single-work h4{
    margin: 1.5rem 0px;
    padding: 0px !important;
}
.step1icon i {
    margin: 0 !important;
}
input::placeholder , textarea::placeholder   {
    color: #8e8e8e !important;
    font-weight: 500 !important;
}

.form-group select option {
    color: #8e8e8e  !important;
}
.steps-center{
    justify-content: center;
    display: flex ;
    width: 100%;
}
.orgicon2 i , .orgicon1 i{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}
.orgicon2 i {
    color: #fff !important;
}
i.fa-regular.fa-plus {
    color: #fff;
    margin-right: 5px;
    margin-left: 0;
}
form#dynamic_form_nest_item .anticon {
    vertical-align: unset!important;
}
.content.nft-single-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
}
.content.nft-single-content p {
    margin: 10px 0 !important;
}
.content.nft-single-content h3 {
    padding: 0 !important ;
}
.ant-steps-item-title {
    color: #FFF !important;
}

.ant-steps-item-description  {
    color: #FFF !important;
}
.ant-steps-item-finish .ant-steps-item-icon {
    background-image: linear-gradient(54deg, #57048a 0%, var(--primary-color) 78%);
    border-image: linear-gradient(54deg, #57048a 0%, var(--primary-color) 78%);
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: #fff !important;
}
.footer-items a.navbar-brand {
    margin-bottom: 12px;
}
img.mobile-logo {
    display: none;
}
img.navbar-brand-sticky.desktop_logo {
    display: block;
}
@media (max-width:767px){
    .nft-remove {
        position: absolute;
        left: 0 !important;
        top: 16px !important;
        text-align: right !important;
    }
    img.mobile-logo {
        display: block;
    }
    img.navbar-brand-sticky.desktop_logo {
        display: none;
    }
  
    /* .project_img {
        left: 70px;
        right: 0 !important;
    } */
}
.modal-header .icon-close {
    color: #fff;
}
.avatar-md {
    object-fit: cover;
}
header .navbar-expand .navbar-nav .nav-link:not(.btn) {
    /* padding-right: 1rem; */
    padding-left: 1rem;
    color: var(--top-nav-item-color);
}
img.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
span.banner-dis {
    color: var(--primary-p-color) !important;
}
span.logo-dis {
    color: var(--primary-p-color) !important;
}
h2.allproj2 {
    color: var(--primary-p-color) !important;
text-align: center;

}
::marker {
    color: #fff;
}
.jodit-container:not(.jodit_inline) .jodit-workplace {
    background-color: black !important;
    border: 0 solid #dadada;
    max-height: 100%;
}
/* b, strong {
    font-weight: bolder;
    color: #fff;
} */
.jodit-toolbar__box:not(:empty):not(:empty) {
    background-color: #000000 !important;
}
.jodit-workplace+.jodit-status-bar:not(:empty) {
    border-top: 1px solid #dadada !important;
}
.jodit-status-bar {
    display: none !important;
}
.jodit-toolbar-editor-collection_size_middle.jodit-toolbar-editor-collection_mode_horizontal {

    background-image: repeating-linear-gradient(transparent 0,transparent 37px,#2d2d2d 38px);
}
.jodit-ui-separator {
    border-left: 0;
    border-right: 1px solid #2d2d2d;
    cursor: default;
    margin: 2px;
    padding: 0;
}
.jodit-toolbar__box:not(:empty) .jodit-toolbar-editor-collection:after {
    background-color: #090909 !important;
}
.jodit-popup__content {
    background: #16151a !important;
}
.jodit-wysiwyg {
    color: white !important;
}
body {
    color: rgb(255 255 255 / 85%) !important;
}
#dynamic_form_nest_item .card .card-body {
    padding: 5px 0 0 !important;
    text-align: center !important;
}
span#inputGroupPrepend2 {
    background-color: #474746;
    border: none;
    border-radius: 0px;
}
.popular-collections-area .card .card-body {
    padding: 35px 0 0 !important;
}
.intro span {   
    font-size: 16px;
}
.card .card-body{
    padding: 20px 0 0 !important;
}
.seller-info.ml-3 span {
    color: #8e8e8e !important;
    font-family: var(--secondary-font) !important;
    font-size: 15px;
}
.popular-collections-area img.card-img-top {
    width: 214px;
    height: 161px;
    object-fit: cover;
}
.styles_hideForm__Dhvgw .orgicon1line {
    width: 150px;
}
 form span {
    color: white !important;
}
section.work-area p {
    color: #8e8e8e !important;
    font-family: var(--secondary-font);
}
.stepperline {
    margin: 0px -2px 0px 5px;
}
h4 {
    /* font-size: 2rem; */
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Jost', sans-serif;
    color: var(--primary-t-color);
}
span , p{
    color: var(--primary-p-color);
    font-size: 16px;
}

.live-auctions-area.single_project-detail h3{
    width: 100%;
}
section.live-auctions-area.single_project-detail {
    padding: 0 !important;
}
section.live-auctions-area.single_project-detail .row {
    padding: 0 !important;
    margin: 0 -15px;
}
section.live-auctions-area.single_project-detail .row h3 {
    padding: 20px 0px 0px 0px;
}
.eddlbtton button {
    font-size: 16px !important;
    padding: 16px 30px !important;
    font-family: 'Poppins', sans-serif;
}
.modal-dialog.modal-lg.modal-dialog-centered {
    background: #2222228a;
    width: 100%;
    height: 100vh;
    padding: 0;
    max-width: 100%;
    margin: 0;
}
.fade.modal.show {
    padding: 0 !important;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon , .ant-steps-item-wait .ant-steps-item-icon{
    background-image: linear-gradient(150deg, #000000 0%, #000000 78%)!important;
    border: 0;
    border: 2px solid #ffff !important;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: rgb(255 250 250) !important;
}
.ant-steps-item-custom > .ant-steps-item-container > .ant-steps-item-icon > .ant-steps-icon {
    top: -7px !important;
}
.ant-steps-vertical > .ant-steps-item .ant-steps-item-description {
    padding-bottom: 12px;
    color: var(--primary-p-color) !important;
}
.modal-header {
    padding-bottom: 0!important;
}
.countdown{
    color: var(--primary-p-color) !important; 
}
.card .card-caption .card-bottom span {
    font-size: 14px;
}
.card-body h5 {
    padding-bottom: 10px;
}
.container.single_project-detail .row h3 {
    width: 100% !important;
    padding-left: 15px !important;
}
.card.no-hover {
    margin-bottom: 10px;
}
/* 28-11-22 */
span.title_main {
    font-size: 40px !important;
    font-weight: 700 !important;
    color: white !important;
    text-transform: capitalize;
}
.detail_single_nfts li{
    font-size: 16px !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300 !important;
    text-transform: uppercase;
}
.lorem_done {
    display: flex;
    gap: 4px;
    align-items: center;
}
span.cutom_dis {
    text-transform: capitalize;
    font-weight: 700;
}
.item_created{
    margin: 0;
    margin-bottom: 10px !important;
    padding-left: 15px;
}
.item_title{
    padding-left: 15px;  
}
.card li  , .card .countdown {
    color: #8e8e8e !important;
    /* font-size: 1rem !important; */
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif !important;
}
.lorem_done svg{
    background: #a395f1;
    border-radius: 50%;
}
.main-fund-detail .top-seller-area{
    padding-top: 0 !Important;
}
/* .item-details-area h4{
    font-size: 40px !important;
} */
.jodit-toolbar-button__trigger svg {
    fill: white;
}
@media (max-width:768px){
    .author-area .item-form {
        padding: 40px 15px;
    }
    .stepperline {
        word-break: normal;
        height: 13px;
        overflow: hidden;
        width: 59px;
        margin: 1px 0px 0px 15px;
    }
     .orgicon1line {
        width: 50px !important;
    }
    span.title_main {
        font-size: 30px !important;
    }
    }
    input[type="date"]::before {
        color: var(--primary-p-color);
        content: attr(placeholder) " ";
    }
    #dynamic_form_nest_item .ant-form-item {
    margin-bottom: 5px;
    margin-top: 10px;
}
#dynamic_form_nest_item button.ant-btn.ant-btn-default {
    width: fit-content;
    padding: 0px;
    word-break: break-all;
    border: none !important;
    background-color: transparent !important;
}
.orgicon1line {
    word-break: normal;
    height: 19px;
    overflow: hidden;
    width: 59px;
    margin: -3px 5px 0px 8px;
    color: white !important;
}
.owner span {
    overflow-wrap: anywhere;
}
section.item-details-area.project-nft-single img {
    height: 225px !important;
}
.w-full{
    width: 100% !important;
}
.content-baner p{
    font-family: 'Poppins', sans-serif !important;
}
p.nft-detail-nft {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.ant-steps-item-custom > .ant-steps-item-container > .ant-steps-item-icon > .ant-steps-icon {
    height: auto !important;
    line-height: 0 !important;
    top: 0 !important;
}
.anticon svg {
    display: inline-block;
    vertical-align: baseline;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: #ffffff !important;
}
input[type="date"]::before {
    color: var(--primary-p-color);
    content: attr(placeholder) "  ";
}
form.item-form.card.no-hover select {
    background-color: black !important;
    padding: 5px 15px;
}
ul.list-unstyled.viewproduct-detail li span:first-child , :root .boldertext , li.item_title , .card-inner-heading span{
    color: #f5f5f5 !important;
    font-weight: 600!important;
    margin-right: 10px; 
}
:root .nft_price {
    color: #f5f5f5 !important;
    font-size: 18px;
}
.item_created i.fa-solid.fa-circle {
    margin-left: 0px;
    color: white;
    font-size: 7px;
    position: relative;
    top: -2px;
}
.progressbar {
    border: 1px solid #454248;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    width: 100%;
    max-width: 300px;
    background: #1e1d1d;
    height: 10px;
}
hr {
    
    background-color: white;
}
.copy .fa-solid {
    margin-left: 0px;
    color: #fff;
   
}
.demo .modal-content {
    background-color: var(--primary-bg-color);
    border: none;
    border-radius: 0;
    overflow-x: hidden;
    height: auto;
    max-height: calc(100vh - 40px);
    overflow-y: scroll;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: unset !important;
}
.create_collection span{
    font-size: 14px;
}
.modal-body hr {
    margin: 15px 0;
}
.refer-icons {
    display: flex;
    justify-content: space-between;
}
.countdown.d-flex {
    flex-direction: column;
}
section{
    height: auto;
    min-height: calc(100vh - 450px);
}

/* .steps-content {
    min-height: 200px;
    margin-top: 16px;
    padding-top: 80px;
    text-align: center;
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
  }
  
  .steps-action {
    margin-top: 24px;
  } */
  
  :root ul.creator-dropdown.dropdown-menu li:nth-child(2) {
    text-transform: none !important;
}
.copyright-area {
    text-align: center !important;
    justify-content: center !important;
}
.ant-steps.ant-steps-horizontal.ant-steps-label-horizontal {
    width: 50%;
    margin: 20px auto;
}

:root #dynamic_form_nest_item button.ant-btn.ant-btn-default.previous_btn{
    color: #fff !important;
    padding: 4px 15px !important;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #cccccc0d !important;
}
button.ant-btn.ant-btn-default.previous_btn span{
    color: #fff !important;
}
.swal-icon--success__line {
    background-color: #ffffff;
}
.swal-title , .swal-text  {
    color: #fff !important;
}
.swal-button {
    background-color: #7cd1f900 !important;
    color: #fff;
    border: 2px solid #cccccc0d !important;
}
.swal-overlay--show-modal .swal-modal {
    background: #000 !important;
}
.swal-overlay {
    background-color: #2222228a !important;
}
.author-details-area img.card-img-top {
    width: 100%;
    height: 210px;
}
.input-group.author_detail {
    border-radius: 100px;
    background-color: #000000f2;
    border: 2px solid;
    height: unset !important;
    border-color: #000;
    outline: none;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 13px 30px;
    margin: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    gap: 10px;
}
:root .author-details-area{
    padding: 160px 0px 0px !important;
}
.author-area .card .image-over .author .author-thumb img {
    height: calc(6rem - 16px) !important;
    width: calc(6rem - 16px) !important;
    margin: 5px;
}
.author-area .card .image-over .author .author-thumb::before {
    content: "";
    width: calc(6rem - 6px) !important;
    height: calc(6rem - 6px) !important;
    background-color: rgb(9 8 13 / 0%) !important;
}
.author-area .card .image-over .author .author-thumb::after {
    width: calc(6rem - 16px) !important;
    height: calc(6rem - 16px) !important;
    background-color: rgb(9 8 13 / 0%) !important;
}
:root .author-details-area .card .image-over .author {
    top: calc(100% - 4rem);
}
.input-group.author_detail div {
    width: 90%;
    display: flex;
    align-items: center;
}
.input-group.author_detail div label {
    width: 140px;
}
.item-thumb{
    position: relative;
}
.item-thumb-edit {
    position: absolute;
    cursor: pointer;
    right: 16px;
    color: #fff !important;
    top: 16px;
    font-size: 15px;
    font-weight: 200 !important;
    background-image: linear-gradient(150deg, var(--secondary-color) 0%, var(--primary-color) 78%);
    padding: 6px 20px;
    border-radius: 25px;
}
.item-thumb-delete{
    position: absolute;
    right: 30px;
    color: #fff !important;
    top: 10px;
    font-size: 15px;
    font-weight: 200 !important;
}
:root .auctions-slides span {
    color: #fffbfb !important;
}
section.explore-area {
    padding: 130px 0 0 0 !important;
}
.card-body h5 {
    text-transform: capitalize;
}
.progress-bar {
    background-image: linear-gradient(150deg, var(--secondary-color) 0%, var(--primary-color) 78%) !important;
    border-radius: 25px;
}
.progressbar .progress {
    background: #464646;
    height: 10px;
    border: 1px solid #565656;
}
.avatar-lg {
    height: 5rem !important;
    width: 5rem !important;
}
.input-group.author_detail input {
    height: 40px;
    border: 1px solid #1d1c1c !important;
}
@media (max-width: 600px){
    .input-group.author_detail {
        border-radius: 30px !important;
        padding: 13px 0px !important;
        margin: 0;
        gap: 10px;
    }
    .input-group.author_detail div {
        flex-direction: column;
        /* text-align: left; */
    }
    .input-group.author_detail div label {
        width: 90%;
    }
    .input-group.author_detail input {
        height: 40px !important;
    }
}
.btn.btn-bordered-white {
  
    margin: 24px 0px;
}
.input-group.author_detail {
    padding: 32px;
}

section.hero-section .button-group a {
    margin-left: 10px;
}
.swal-icon--success__hide-corners {
    background-color: #040000 !important;
}
.swal-icon--success:after, .swal-icon--success:before {
    background: #040404 !important;
}

/* a.col-12.col-sm-6.col-lg-3.item.explore-item .card-body a h5 {
    min-height: 56px;
} */
.card.project_cards i {
    transition: 0.3s ease-in-out;
    opacity: 0;
}
.card.project_cards:hover i{
   opacity:1; 
}
.fa-trash {
    color: #5e5c5c;
    position: absolute;
    top: 8px;
    right: 24px;
}
.project_cards .fa-pen {
    position: absolute;
    color: #5e5c5c;
    top: 8px;
    right: 0;
}
.jodit-dialog__panel {
    background-color: #000 !important;
  
}
.jodit-ui-button_variant_primary {
    background-color: #111214 !important;
    color: #fff;
}
section {
    height: auto !important;
    min-height: inherit !important;
}
span.nft_price {
    text-transform: capitalize !important;
}
.item-thumb {
    position: relative;
    border: 10px solid #111112f5 !important;
    border-radius: 20px;
    box-shadow: 2px 1px 20px -8px #8b8b8b2e !important;
    height: 100%;
}
.eddlbtton button {
    width: auto !important;
    margin: auto 0 !important;
    padding: 15px 40px !important;
}
.avatar-sm {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}
.content_project .card {
    height: 75% !important;
    display: flex;
    gap: 14px;
    flex-direction: column;
    font-family: var(--secondary-font);
    margin-bottom: 0;
}

/* .project_img {
    position: absolute;
    bottom: -89px;
    right: 70px;
    width: 90px;
    height: auto;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 22px;
} */

:root .project_img img {
    box-shadow: 0px 2px 6px #5012a9fa;
    width: 60px;
    height: 60px;
}
:root .project-total-detail div span {
    font-size: 16px !important;
}
.project-total-detail {
    display: flex;
    grid-gap: 30px;
    flex-direction: column;
    gap: 10px;
}
.project-total-detail div {
    display: flex;
    gap: 10px;
}
.project-total-detail div span:nth-child(1) {
    color: #fff !important;
}
.detail_url a{
    font-size: 20px;
    cursor: pointer;
    color: #fff !important;
}

.token span:first-child {
    font-size: 14px;
    top: 30px;
    right: 30px;
    background-image: linear-gradient(150deg, var(--secondary-color) 0%, var(--primary-color) 78%);
    color: #fff !important;
    padding: 0 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 4px;
}
.mint a{
    color: #fff !important;
}
.mint button {
    width: 100%;
    margin-top: 15px !important;
    background-color: transparent !important;
    border: 1px solid #ffff !important;
    border-radius: 25px !important;
    position: relative;
    padding: 12px ; 
}
.mint button:hover {
    background-image: linear-gradient(150deg, var(--secondary-color) 0%, var(--primary-color) 78%) !important;
    border-image: linear-gradient(150deg, var(--secondary-color) 0%, var(--primary-color) 78%) !important;
}
.creater span{
color: #fff !important;
}
.owner{
    gap: 10px;
}
header .navbar-expand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    opacity: unset !important;
}
.ant-collapse-content {
    color: #8e8e8e !important;
    border: unset !important;
    background-color: black !important;
}
.ant-collapse-content tr {
    color: #8e8e8e !important;
    border-top: 1px solid #16151a;
    background-color: #09080d;
}
.table-detail tr:nth-child(odd){
    /* color: rgba(0, 0, 0, 0.85) !important; */
    background-color: #16151A !important;

}

.ant-collapse-header {
    background-color: #16151a !important;
}
.table-detail th {
    color: #fff;
    border: unset !important;
}   
:root .container.table-detail tr {
    /* border-bottom: 1px solid #000000 !important; */
    border: unset !important;
}
:root .table-detail thead tr {
    background: #09080d !important;
}
.container.table-detail table.table-detail.table * {
    border: none;
}
.container.table-detail .ant-collapse {
    border: 1px solid #1e1e1e;
    border-radius: 12px;
    overflow: hidden;
    background: transparent;
}

.table-detail .table {
    width: 100%;
    margin-bottom: 0px !important;
    color: #8E8E8E;
}

.table-detail .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px;
}
.table-detail td {
    border: unset;
}
.table-detail tr:last-child {
    border-bottom:none;
}
/* .ant-collapse-content {
    background-color: #16151A !important;
    border-top: 1px solid #2C2C2C !important;
} */
.owner span:nth-child(3) {
    color: #fff !important;
    text-transform: capitalize;
    font-weight: 700 !important;
}
.main-proj-detail .item-thumb img {
    height: 400px;
    /* height: auto; */
}

.user_title {
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px 16px !important;
}
.user_title .fa-trash {
    color: #ffffff;
    position: inherit;

}


/* new */
.modal-content {
    max-width: 700px;
   
}
.ant-collapse {
    
    width: 635px;
}

.image-container {
    max-width: 900px;
    margin: 0px auto;
    box-sizing: border-box;
    width: 100%;
}

.buttons-group {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 12px;
    margin: 12px 0px 0px 0px;
}

.swal2-icon.swal2-info {
    border-color: #34305a !important;
    color: #34305a !important;
}
a:not(.btn), a:link:not(.btn), a:visited:not(.btn), a:hover:not(.btn), a:active:not(.btn) {
    font-size: unset !important;
}

.table-detail .ant-collapse.ant-collapse-icon-position-end {
    width: 100%;
}
@media (max-width: 850px){
    .project-total-detail {
        gap: 10px !important;
        flex-direction: column;
    }
}
.banner_img {
    width: 100%;
}
.image-holder {
    width: 100% !important;
    background-color: #262424 !important;
    border-style: dotted !important;
    border-color: #484646 !important;
    /* padding: 130px !important; */
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline: unset !important;
}
.image-holder-loaded {
    width: 100% !important;
    border: 1px solid #1a1919;
}
.ReactImagePickerEditor .place-image .editing-bar-btn {
    margin-top: 2px;
    position: absolute;
    right: 0;
}
.place-image {
    position: relative;
}
form#dynamic_form_nest_item {
    gap: 15px;
}

.ant-collapse {
    width: 100% !important;
}
button.ant-btn.ant-btn-default.collection_btn span {
    font-size: 14px !important;
}
.project_img {
    align-items: center;
}
.proj_main> div {
    /* background: red; */
    border: 1px solid #cccccc1a;
    margin: 0 -15px;
    padding: 15px;
}
.project-total-detail {
    background: #16151a;
    padding: 15px;
    border-radius: 8px;
}
h5.user_title {
    background: #16151a;
    padding: 10px;
    /* border-radius: 8px 8px 0px 0; */
}
.user-description , .price_nft {
    border: 1px solid #1e1e1e;
    border-radius: 8px;
    padding-bottom: 10px;
    height: 100%;
}
.user-description >p {
    padding: 0 16px;
}
.table-main-detail .ant-collapse.ant-collapse-icon-position-end {
    margin-bottom: 0px !important;
}
:root span.progress-bar.bg-success {
    font-size: 8px !important;
}
h5.user_title i , .container.table-main-detail i , .token span i{
    font-size: 15px;
    cursor: pointer;
    color: #fff !important;
    font-size: 10px;
    background-image: linear-gradient(150deg, var(--secondary-color) 0%, var(--primary-color) 78%);
    padding: 6px 20px;
    border-radius: 25px;
    margin: 0;
    margin-top: -5px;
}
.project-btn.flex-column button {
    background: transparent;
    position: relative;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 8px;
    /* gap: 20px; */
    /* display: flex; */
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
}
.project-btn button::after {
    position: absolute;
    content: "";
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    background-image: linear-gradient(135deg, var(--primary-color) 10%, var(--secondary-color));
    top: -2px;
    left: -2px;
    border-radius: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: -1;
}

.project-btn button:hover::after{
    opacity: 1;
}
.project-btn{
    display: flex;
    gap: 10px;
}
:root .card.add-nft {
    min-height: 426.6px;
    justify-content: center;
    align-items: center;
    border: 1px dashed #2a2a2a;
}
:root .add-nft a {
    /* color: #fff !important; */
    font-size: 20px !important;
}

.table-detail span.ant-collapse-header-text , .table-main-detail span.ant-collapse-header-text{
    font-size: 1.2rem;
    color: #ffffff;
    font-family: var(--primary-font);
}
.owner-nft span:nth-child(2) {
    color: #fff !important;
    text-transform: capitalize;
    font-weight: 700 !important;
    margin-right: 2px;
}
span.cards-icons i {
    margin-left: unset !important;
    color: #fff;
    font-size: 10px;
}
.token {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;
    gap: 5px;
}
.nfts_details tr td {
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
    font-family: var(--secondary-font);
}
table.nfts_details.table i {
    position: absolute;
    top: 22px;
    right: 62px;
}

.table-main-detail .ant-collapse {
border: unset !important;
background-color: transparent !important;
}

.ant-collapse-header {
    border-radius: 8px 8px 0 0 !important;
}
.container.table-main-detail .ant-collapse-content > .ant-collapse-content-box {
    padding: unset !important;
}
.nfts_details span:nth-child(1) {
    color: #fff;
}
.nfts_main{
    border: 1px solid #1e1e1e;
    border-radius: 8px;
}
.nfts_main .item {
    margin-top: unset !important;
    margin-bottom: 10px !important;
}
.progress_main{
    flex-direction: column;
}
:root form#dynamic_form_nest_item span {
    color: #fff !important;
    background-image: white !important;
    -webkit-text-fill-color: #ffffff;
}
/* .ant-collapse > .ant-collapse-item {
    border: unset !important;
   } */
   .ant-collapse-content-box {
    padding: 16px;
    /* border-bottom: 1px solid; */
    /* background: #16151a; */
}
div.ant-collapse ,  div.ant-collapse > .ant-collapse-item{
    border: 1px solid #1e1e1e;
}
.card.choose_div {
    padding: 1.2rem;
}
.nft-remove {
    position: absolute;
    right: 0;
    top: 25px;
}
.fade.edit_nft_popup.modal.show .modal-content {
    max-width: 100%;
}
.fundraiser {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress_nft {
    font-family: var(--secondary-font);
    border: 1px solid #1e1e1e;
    padding: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
    background-color: #16151a;
    border-radius: 10px;
}
:root .ant-collapse {
    background-color: #16151a;
}
.progress_nft ul li {
    list-style: none;
    border-bottom: 1px solid #2e2e2e;
    padding: 0;
    padding: 11px 0;
    margin: 0;
}
.progress_nft ul li:last-child {
    border: unset;
}
.progress_nft .lorem_done {
    gap: 10px
}
.progress_name {
    color: #fff;
}
.ant-collapse-item {
    border-radius: 8px;
}
:root .btn.btn-bordered-white {
    line-height: 7px !important;
}
.donation-count{

}
.see_all{
    color:white;
    cursor: pointer;
    border: 2px solid #4B1BBF;
    border-radius: 100px;
    padding: 5px 20px;
    max-width: 100px;
    text-align: center;
    margin: auto;
}




span.ant-collapse-header-text {
    text-align: start;
}
.ant-collapse-content {
    color: #8E8E8E !important;
    border: unset !important;
    background-color: #09080D !important;
}
.table thead th, td {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e600;
    border-top: 0px !important;
}
.ant-collapse {
    border-radius: 10px !important;
    overflow: hidden !important;
    background-color: transparent !important;
    font-family: var(--secondary-font);
}
.ant-collapse-content tr {
    border-top: 0px;
}
:root span.ant-collapse-header-text {
    font-size: 1.2rem;
    color: #FFFFFF;
    font-family: var(--primary-font);
}
.input-group_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: initial;
}
.input-group_1 div {
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    margin-bottom: 20px;
}
.input-group_1 div input{
    margin-top: 10px;
}
.rounded-circle {
    border-radius: 50%!important;
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.ant-collapse {
    border: 1px solid #1E1E1E !important;
}
.wrap_card .btn.btn-bordered-white {
    margin: 0px 24px 0px;
}
.wrap_card .social-icons svg {
    margin: 0px 12px !important;
    font-size: 17px !important;
    margin-bottom: 9px !important;
    cursor: pointer;
}
.wrap_card .social-icons svg:hover {
    color: #4528DC;
}
.wrap_card .Edite_able input.user_name {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: jost;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #383838 !important;
}
.wrap_card input.user_email {
    background-color: transparent !important;
    border: none !important;
    text-align: center;
    padding: 0px !important;
    font-family: jost;
    color: gray !important;
    font-size: 18px;
    border-bottom: 1px solid #383838 !important;
}
.item-thumb {
    border: 7px solid #131314 !important;
    box-shadow: 0px 0px 33px 3px #ffffff0a !important;
    overflow: hidden;
}
.banner {
    height: 400px;
    width: 100%;
}
.banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.wrap_card .Edite_able label {
    position: relative;
    width: 100%;
}
.wrap_card .Edite_able i.fa-solid.fa-pen {
    position: absolute;
    right: 10px;
    top: 12px;
    background-color: #000;
}
from.Edite_able input {
    font-size: 14px;
}
ul.project_back {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px !important;
}
li.item_title {
    padding: 0px;
}
li.item_title {
    padding: 0px;
    margin: 0px  !important;
}
.item_created {
    margin: 0;
    font-size: 14px;
    margin-bottom: 10px !important;
    padding-left: 15px;
}
.custam_col {
    border:1px solid #1E1E1E !important;
    border-radius: 10px;
    overflow: hidden;
}
.custam_col .no-hover {
    padding: 16px;
}
ul.project_back {
    padding: 0px 22px;
}
li.button_blow {
    padding: 0px 20px;
}
:root .detail_single_nfts li {
    text-transform: capitalize;
}
span.read-or-hide {
    color: #4B1BBF;
    cursor: pointer;
    text-transform: capitalize;
}
.modal-body form.item-form.card.no-hover select {
    background-color: black !important;
    padding: 7px;
    height: 38px;
}
.item-thumb {
    border: 0px solid #16151a !important;
    box-shadow: none !important;
    overflow: hidden;
    border-radius: 10px !important;
}

section.wallet-connect-area h4 {
    color: #fff;
    padding: 22px 0;
}
.ant-collapse-content-box {
    padding: 16px;
    /* border-bottom: 1px solid; */
}
.container.table-main-detail.position-relative {
    padding: 0;
}
.container.table-detail {
    padding: 0;
}
.banner_img button {
    margin-top: 15px;
}
.author-details-area .ant-collapse-content-box , .funddeatil .ant-collapse-content-box  {
    padding: 0 !important;
}
.author-details-area table{
    margin-bottom: 0;
}
.profile_main_right {
    position: sticky;
    top: 0;
}
.desktop_nft .progress_nft.mb-3 {
    position: sticky;
    top: 10px;
}
@media (max-width: 991px){
    .desktop_nft .progress_nft.mb-3 {
       display: none;
    }
    .progress_nft.mobile_nft .fund_row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .progress_nft.mobile_nft ul li {
        border-bottom: unset;
        width: 100%;
    max-width: 200px;
    }

}
@media (min-width: 991px){
    .progress_nft.mobile_nft.mb-3 {
       display: none;
    }
    
}
.table td, .table th {
    vertical-align: middle !important;
    padding: 12px 16px;
}
.funddeatil.mt-3 table {
    margin-top: 0.5rem;
}
span.share {
    position: absolute;
    right: 22px;
}
.price_nft_detail{
    padding: 12px 16px;
    font-family: var(--secondary-font);
}
.nft-price span {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.sales span:first-child {
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
}
.nft-price {
    display: flex;
    align-items: center;
    gap: 5px;
}
.main-create .ant-collapse-content-box {
    background: #16151a;
}
span.matics {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 999;
    background-image: linear-gradient(150deg, var(--secondary-color) 0%, var(--primary-color) 78%) !important;
    border-radius: 25px;
    padding: 2px 14px;
    color: #fff;
    font-size: 12px;
}

.swal-button-container {
    margin: 5px;
    display: inline-block;
    position: relative;
    border: 1px solid #fff;
    border-radius: 5px;
}
button.swal-button.swal-button--continue:after {
    content: "Continue";
}
button.swal-button.swal-button--skip:after {
    content: "skip";
}
=======
.price_nft_detail button {
    margin-bottom: 0 !important;
    padding: 15px 40px !important;
    margin-left: 0px !important;
}

.nothing {
    background: #16151a;
color: #fff;
text-align: center;
padding: 16px 16px;
}
.logo{
        position: absolute;
        top: -22px;
        left: 10px;
        background: #16151a;
        z-index: 1;
        padding: 2px;
        border-radius: 25%;
        border: 2px solid #ffff;
        /* background-image: linear-gradient(150deg, #57048a 0%, var(--primary-color) 78%) !important; */
        border-color: linear-gradient(150deg, var(--secondary-color) 0%, var(--primary-color) 78%) !important;
}
.fundraiser_sale{
    gap: 10px;
}
.fundraiser_sale span:first-child {
    color: #fff !important;
    font-size: 14px;
}
.fundraiser_sale div div {
    color: #8e8e8e !important;
    font-weight: 600;
}
.card-caption .card-body p {
    font-size: 14px;
    font-family: var(--secondary-font);
}
.donate-btn button{
    background-color: transparent !important;
    border: 1px solid #fff !important;
}
.donate-btn {
    text-align: center;
}
.gap-5{
    gap: 5px;
}
.ant-collapse-icon-position-end > .ant-collapse-item > .ant-collapse-header {
    position: relative;
    padding: 12px 43px !important;
    padding-right: 40px;
}

svg.detail-icon , .activity_icon {
    position: absolute;
    z-index: 999;
    top: 16px;
    left: 15px;
}

