.creator-dropdown {
    min-width: 10rem !important;
    left: -20px;
    text-align: center;
}

.creator-button {
    display: flex;
    gap: 8px;
}

.approval {
    font-size: 10px;
    background: #9b8bc1;
    color: white;
    padding: 8px;
    width: 120px;
    margin: 24px 0px 0px 0px;
    border-radius: 12px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(50%)
        /* sepia(100%)
            saturate(10000%)
            hue-rotate(180deg) */
}

input[type="date"]::before {
    color: var(--primary-p-color);
    content: attr(placeholder) " : ";
}

input[type="date"]:focus::before {
    content: "" !important;
}

.live-auctions-area .swiper-slide.item {
    max-width: 300px;
}
/****bannercss******/
.button-group div {
    width: 100%;
    max-width: 500px;
}
.button-group div p {
    font-size: 16px;
    width: 100%;
}
.button-group h3{
    font-size: 24px;
    line-height: 34px;
}
.button-group {
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px){
    .button-group {
        display: block !important;
    }
    .button-group div:nth-child(2) {
        padding: 40px 0px 0px;
    }
}
/****bannercss******/